---
import {SITE_TITLE, SITE_TAGLINE, SITE_DESCRIPTION, KEYWORDS} from '../consts';
import BaseLayout from '../layouts/BaseLayout.astro';
import { Image } from 'astro:assets';
import Ava from '@src/assets/img/ava.jpg';
import Prose from '../components/Prose.astro';
import { projects } from './projects/projects';
import type { Experience } from './experience/experience';
import {experiences} from './experience/experience';
import ProjectList from '../components/ProjectList.astro'
import PostItem from '../components/PostItem.astro';
import Tag from "../components/Tag.astro";

const tags = ["Wordpress", "WooCommerce", "cPanel", "HTML", "CSS", "Typescript", "Javascript", "React", "Tailwind CSS", "Bootstrap", "Responsive Design", "Mobile-First", "Astro JS", "Strapi", "SEO", "Playwright", "API REST", "Postman", "JIRA", "Notion", "Trello", "SCRUM", "Figma", "SQL", "Oracle", "MongoDB", "node js", "C#", "Git", "CI/CD"]
const top6Projects = projects.slice(0, 6);
---

<BaseLayout title={SITE_TITLE + ' - ' + SITE_TAGLINE} description={SITE_DESCRIPTION} keywords={KEYWORDS}>
	<div class='container'>
		<div class='w-full md:flex md:items-center gap-16 mb-10'>
      <div class="text-pretty leading-9">
        <h1 class="text-4xl font-bold mb-4">춰Hola! Soy Juanse 游녦 </h1>
        <Prose>
          <div class="text-lg">
            <p>Ingeniero de software especializado en desarrollo web. Mi misi칩n es m치s que programar: ayudo a implementar <b>soluciones tecnol칩gicas</b> que realmente aporten valor. Mi experiencia y pasi칩n por el desarrollo web me permiten crear sitios y p치ginas que no solo destacan, sino que resuelven necesidades y objetivos espec칤ficos.</p>
            <p>Si est치s buscando un profesional que entienda la tecnolog칤a y la transforme en resultados tangibles para tu empresa o proyecto, est치s en el lugar adecuado. Aqu칤 encontrar치s a alguien que est치 comprometido con tus metas tanto como t칰.</p>
          </div>
        </Prose>
          <Tag tags={tags}/>
      </div>
      <Image src={Ava} alt="Muhammad Syakirurohman" width={300} loading="eager" class="rounded-3xl rotate-3 mx-4 md:mx-0"/>
		</div>
		<main>
      <div class='mt-6 mb-12'>
        <div class="flex justify-between gap-2 border-b mb-1 dark:border-b-zinc-700">
          <h2 class="text-lg font-bold mb-3">Experiencia</h2>
        </div>
        <div>
          {
              experiences.map((post: Experience) => (
              <PostItem post={post} />
            ))
          }      
        </div>
        <div class="text-right">
        </div>
      </div>
      <div>
        <div class="flex justify-between gap-2 mb-1">
          <h2 class="text-lg font-bold mb-3">Proyectos</h2>
        </div>
        <ProjectList projects={top6Projects}/>
      </div>
		</main>
	</div>
</BaseLayout>
